body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #4285f4;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-left: 10px;
}

input[type="text"] {
  margin-right: auto;
}